<h1>Form Page</h1>

<form class="" action="/form-input" method="post">
  <label for="titleInput"> Title </label>
  <input id="titleInput" type="text" name="title" value="" placeholder="Clean House">

  <label for="descriptionInput"> Description </label>
  <input id="descriptionInput" type="text" name="description" value="" placeholder="in laws are coming over">

  <label for="priorityInput"> Priority</label>
  <input id="priorityInput" type="number" name="priority" value="" placeholder="5">

  <button> Add Task </button>

</form>